

<script>

    let table;
    
    function detail(a) {
      window.location.href = '/service/detail/' + a;
    }
    
    
      //데이터 테이블
      window.addEventListener('DOMContentLoaded', event => {
          $('#loadingModal').modal('show');
    
          const datatablesSimple = document.getElementById('datatablesSimple');
          if (datatablesSimple) {
              table = new simpleDatatables.DataTable(datatablesSimple, {
                processing: true,
                serverSide: true,
                searching: true,
                ordering:  false,
                serverMethod: 'POST',
                ajax: {
                  url:'/service/user',
                  type:'POST',
                  dataSrc:'pills'
                },
                columns:[
                  {data:'user_num'}, // 첫 번째 열
                  {data:'name'}, // 두 번째 열
                  {data:'nickname'}, // 세 번째 열
                  {data:'id'}, // 네 번째 열
                  {data:'password'}, // 다섯 번째 열
                  {data:'detail'}
                ]
              });
    
              
    
               // 데이터 로딩 함수
              function loadData() {
                // 추가 데이터를 비동기적으로 로드합니다.
                $.ajax({
                    url: '/service/user',
                    type: 'POST',
                    success: function(data) {
                        console.log("굿")
                        // 성공적으로 데이터를 받았을 때 처리
                        user = data.users;
                        renderTable(); // 데이터가 로드된 후에 테이블 렌더링
                        // 데이터 로딩이 완료되면 모달을 숨깁니다.
                        $('#loadingModal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        console.log("뻑")
                        // 오류 처리
                        console.error('데이터 로드 오류:', error);
                        // 오류가 발생했을 때도 모달을 숨깁니다.
                        $('#loadingModal').modal('hide');
                    }
                });
            }
            // 데이터를 테이블에 렌더링하는 함수
            function renderTable() {
              console.log(user)
              let total = []
              user.forEach(function(a) {
                let da = [a.user_num, a.name, a.nickname, a.id, a.email, `<button class="btn btn-primary btn-sm" style="font-size: 12px;" onclick="detail(${a.user_num})">detail</button>`]
                total.push(da)
              });
              table.insert({data: total})
              console.log("완료")
          }
      
          // 데이터 로딩
          loadData();
    
          // 이벤트 위임을 사용하여 열 클릭 이벤트 설정
          // 테이블의 각 셀(td)을 클릭하여 이벤트를 처리
          $('#datatablesSimple tbody').on('click', 'td', function () {
                    var data = table.row($(this).closest('tr')).data();
                    if (data) {
                        window.location.href = '/data/detail_page?item_seq=' + data[0];
                    } else {
                        console.log("데이터를 가져오지 못했습니다.");
                    }
                });
    
          }
    
      });
    
    
</script>
    
    <!-- 모달 -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark">
          <div class="modal-body text-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text-light mt-2">Loading...</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid px-4">
        <h1 class="mt-4">유저 데이터 관리</h1>
        <hr>
        </div>
      
      <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-body">
                현재 서비스를 이용중인 고객 데이터를 확인 및 관리할 수 있다.
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                고객 정보 데이터
            </div>
            <div class="card-body">
      
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>index</th>
                            <th>이름</th>
                            <th>닉네임</th>
                            <th>ID</th>
                            <th>email</th>
                            <th>세부정보</th>
                        </tr>
                    </thead>
                    <tbody id="datasimplebody">
                      
                    </tbody>
                </table>
      
            </div>
        </div>    